{% extends 'base.html.twig' %}

{% block title %}{% trans %}Réinitialisation mot de passe{% endtrans %}{% endblock %}

{% block body %}

    <section id="reset-password">
    <div class="row">
        <div id="reset-password-form" class="col-md-7  container">
            <h2 class="secondary-title">{% trans %}Mot de passe oublié{% endtrans %}</h2>
           <form class="form-reset-password row" method="post">
					<div class="col-12">
						{% for label,messages in app.flashes %}
							<div class="error-{{label}}">
								{% for message in messages %}
									<p>{{message|raw}}</p>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<div class="col-12 form-group">
						<label for="pass">{% trans %}Mot de passe{% endtrans %}</label>
						<input type="password" name="password" id="pass">
					</div>
					<div class="col-12 form-group">
						<label for="pass">{% trans %}Confirmation mot de passe{% endtrans %}</label>
						<input type="password" name="password-confirm" id="pass">
					</div>
					<div class="col-12">
						<input type="hidden" name="token" value="{{token}}">
						<button class="btn-primary">{% trans %}Valider{% endtrans %}</button>
					</div>
				</form>

        </div>
        <div id="reset-password-bg" class="col-5  container"></div>
    </div>
    </section>
{% endblock %}
