{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}

    <section id="reset-password">
    <div class="row">
        <div id="reset-password-form" class="col-md-7  container">
            <h2 class="secondary-title">Mot de passe oublié</h2>
           <form class="form-reset-password row" method="post">

					<div class="col-12 form-group">
						<label for="pass">Mot de passe</label>
						<input type="password" name="password" id="pass">
					</div>
					<div class="col-12 form-group">
						<label for="pass">Confirmation mot de passe</label>
						<input type="password" name="password-confirm" id="pass">
					</div>
					<div class="col-12">
						<input type="hidden" name="token" value="{{token}}">
						<button class="btn-primary">Valider</button>
					</div>
				</form>

        </div>
        <div id="reset-password-bg" class="col-5  container"></div>
    </div>
    </section>
{% endblock %}
