{% extends "base.html.twig" %}

{% block body %}
    <div style="color: orange;" class="mentions container">
        <h1>Cookies</h1>
        <h2>Que sont les cookies ?</h2>
        <p>Un cookie est un petit fichier texte sauvé par le serveur d'un site web dans le navigateur de votre ordinateur ou de votre appareil mobile lorsque vous consultez ce site web. Le cookie contient un code unique permettant de reconnaître votre navigateur lors de votre visite sur le site web ("cookie de session") ou lors de futures visites répétées ("cookie permanent"). Les cookies peuvent être placés par le serveur du site web que vous visitez ou par des partenaires avec lesquels ce site web collabore. Le serveur d'un site web peut uniquement lire les cookies qu'il a lui-même placés ; il n'a accès à aucune autre information se trouvant sur votre ordinateur ou sur votre appareil mobile. Les cookies sont stockés sur votre ordinateur ou appareil mobile dans le répertoire de votre navigateur. Le contenu d'un cookie se compose en général du nom du serveur qui a placé le cookie, d'une date d'expiration et d'un code chiffré unique.</p>
        <p>Les cookies assurent une interaction généralement plus aisée et plus rapide entre le visiteur et le site web. De plus, ils aident le visiteur à naviguer entre les différentes parties du site web. Les cookies peuvent également être utilisés pour rendre le contenu d'un site web ou la publicité présente sur ce site plus pertinents pour le visiteur et adapter le site web aux goûts personnels et aux besoins du visiteur.</p>
        <h2>Utilisation de cookies sur le site web <strong>Social Planet</strong></h2>
        <h3>Nous utilisons différents types de cookies sur le site web.</h3>
        <h4>1/ Cookies indispensables</h4>
        <p>Ces cookies sont requis pour permettre la visite de nos sites web et l'utilisation de certaines parties de ceux-ci. Ces cookies vous permettent par exemple de naviguer entre les différentes rubriques des sites web, de compléter des formulaires. Si vous refusez ces cookies, il est possible que certaines parties du site ne fonctionnent pas de façon optimale.</p>
        <h4>2/ Cookies fonctionnels</h4>
        <p>Les cookies fonctionnels sont des cookies destinés à faciliter le fonctionnement de nos sites web, à en rendre l'utilisation plus agréable pour le visiteur et à vous donner une expérience de surf plus personnalisée. Il s'agit par exemple des cookies qui retiennent votre choix de langue, ou des cookies qui mémorisent si vous avez déjà été invité à participer à une enquête, de sorte à ne pas vous proposer la même enquête lors de chaque visite, ou un cookie qui vous propose un contenu personalisé suite à une visite précédente.</p>
        <p>Si son appareil ou son navigateur le permet, l’utilisateur peut décider d’activer la fonction de géo-localisation pour effectuer des recherches à proximité. Dans ce cas, l’utilisateur autorise à procéder à une telle géo-localisation dans l'unique but de lui fournir ce service. Cette géo-localisation est conservée dans un cookie. Une fois que l’utilisateur a donné son autorisation, celle-ci reste valable pour toute future connexion du client au service et ceci, jusqu'à ce que l’utilisateur désactive cette autorisation.</p>
        <h4>3/ Cookies de performance</h4>
        <p>Nous utilisons des cookies de performance afin de collecter des informations sur l'utilisation faite de nos sites web par les visiteurs, dans le but d'en améliorer le contenu, de mieux les adapter aux souhaits des visiteurs et d'en augmenter la convivialité. Ainsi, nous utilisons par exemple un cookie comptabilisant le nombre de visiteurs uniques et un autre analysant la popularité de nos pages.</p>
        <p>Certains cookies sont placés par des tiers avec l'accord de la <strong>Social Planet</strong> dans le but de porter certains produits et services à votre connaissance ou de vous donner un accès direct aux médias sociaux :</p>
        <ul>
            <li>Google (Tag Manager, Analytics, double-click)</li>
            <li>Youtube</li>
        </ul>
        <p>Pour les cookies placés par ces parties externes, nous nous référons aux déclarations de confidentialité de ces parties sur leurs propres sites web pour les informations sur la collection et le but dans lequel ces informations sont utilisées. Ces déclarations peuvent changer de temps en temps et <strong>Social Planet</strong> n'a aucun contrôle sur elles.
        <h3>Gestion des cookies</h3>
        <p>Dans les paramètres de votre navigateur, vous avez la possibilité de refuser l'installation des cookies. Vous pouvez à tout moment supprimer les cookies déjà installés sur votre ordinateur ou sur votre terminal mobile.</p>
    </div>
{% endblock %}