<div class="mentions container">
    <h1>Droits de l'utilisation</h1>
    <p>Ce site web est la propriété de :</p>
    <p><strong>Social Planet</strong></p>
    <p>(Adresse)</p>
    <p>(numéro de téléphone)</p>
    <p>(email)</p>
    <p>En accédant et en utilisant le site web, vous acceptez expressément les conditions générales suivantes.</p>
    <h2>Droits de propriété intellectuelle</h2>
    <p>
        Le contenu de ce site, y compris les marques, logos, dessins, données, noms de produits ou d'entreprises, textes, images,
        etc. sont protégés par des droits intellectuels et appartiennent à <strong>Social Planet</strong> ou à des tiers habilités.
    </p>
    <h2>Limitation de la responsabilité</h2>
    <p>
        Les informations figurant sur le site web sont de nature générale. Les informations ne sont pas adaptées à des circonstances
        personnelles ou spécifiques et ne peuvent donc pas être considérées comme des conseils personnels, professionnels ou juridiques à l'utilisateur.
    </p>
    <p>
        <strong>Social Planet</strong> fait de grands efforts pour s'assurer que les informations fournies sont complètes, correctes, précises et à jour. Malgré ces efforts,
        des inexactitudes peuvent apparaître dans les informations fournies. Si les informations fournies contiennent des inexactitudes ou si certaines informations
        sur ou via le site ne sont pas disponibles,
        <strong>Social Planet</strong> s'efforcera d'y remédier dans les plus brefs délais. Toutefois, <strong>Social Planet</strong> ne peut être tenu pour responsable de tout dommage direct ou indirect
        résultant de l'utilisation des informations contenues dans ce site.
        Si vous découvrez des inexactitudes dans les informations mises à disposition sur le site, veuillez contacter l'administrateur du site.
    </p>
    <p>
        Le contenu du site (y compris les liens) peut être adapté, modifié ou complété à tout moment sans préavis ni notification. <strong>Social Planet</strong> ne donne aucune garantie pour
        le bon fonctionnement du site web et ne peut en aucun cas être tenue responsable d'un dysfonctionnement ou d'une (dé)disponibilité temporaire du site web ou de toute forme
        de dommage, direct ou indirect, qui résulterait de l'accès ou de l'utilisation du site web.
    </p>
    <p>
        <strong>Social Planet</strong> ne peut en aucun cas être tenu responsable envers quiconque, directement ou indirectement, de quelque manière que ce soit, des dommages dus à l'utilisation de
        ce site ou de tout autre, notamment en raison des liens ou hyperliens, y compris, sans limitation, toutes pertes, interruptions de travail, dommages aux programmes ou autres
        données sur le système informatique, le matériel, les logiciels ou autres de l'utilisateur.
    </p>
    <p>
        Le site web peut contenir des hyperliens vers des sites web ou des pages de tiers, ou y faire référence indirectement. Le placement de liens vers ces sites ou pages n'implique
        en aucune façon une approbation implicite de leur contenu.
        <strong>Social Planet</strong> déclare explicitement qu'elle n'a aucun contrôle sur le contenu ou les autres caractéristiques de ces sites web et ne peut en aucun cas être tenue responsable de
        leur contenu ou de leurs caractéristiques ou de toute autre forme de dommage résultant de leur utilisation.
    </p>
    <h2>L'utilisation des "cookies"</h2>
    <p>
        Lors d'une visite sur le site, des "cookies" peuvent être placés sur le disque dur de votre ordinateur, et ce uniquement pour mieux adapter le site aux besoins du visiteur qui revient.
        Ces mini-fichiers ou cookies ne sont pas utilisés pour vérifier le comportement de navigation du visiteur sur d'autres sites web. Votre navigateur internet vous permet d'empêcher
        l'utilisation de cookies, de recevoir un avertissement lorsqu'un cookie est installé ou de supprimer les cookies de votre disque dur par la suite. Pour cela, consultez la fonction d'aide de votre navigateur Internet.
    </p>
    <h2>Politique de confidentialité - protection de la vie privée</h2>
    <ol>
        <li>
            <strong>Social Planet</strong> attache une grande importance à la protection de votre vie privée. En tant que sous-traitant de données à caractère personnel, <strong>Social Planet</strong> prend toutes les mesures administratives et techniques
            (de sécurité) nécessaires pour se conformer aux exigences légales afin de garantir votre vie privée conformément à la législation locale applicable (par exemple, la loi du 8 décembre 1992), et aux dispositions du règlement
            général sur la protection des données (AVG) du 27 avril 2016 en particulier. Pour toute question à ce sujet, veuillez contacter <strong>info@goupyl.com ou tél. (num de tél)</strong>.
        </li>
        <li>
            <strong>Social Planet</strong> ne recueille que les données pertinentes. Dans la plupart des cas, cela ne concerne que le nom, l'adresse électronique et le numéro de téléphone. Si d'autres données à caractère personnel sont également
            traitées, cela sera explicitement mentionné dans le registre de traitement et signalé aux personnes concernées (par exemple, les données relatives au personnel).
        </li>
        <li>
            Les finalités du traitement des données à caractère personnel sont toujours indiquées individuellement dans les actions, mais peuvent être résumées globalement :
            <ul>
                <li>
                    La communication avec les membres, les clients et les fournisseurs dans le cadre des accords conclus, y compris l'adhésion (la base juridique est le contrat)
                </li>
                <li>
                    Se conformer aux obligations légales (par exemple, obligations comptables ou fiscales, administration du personnel) (la base juridique est l'obligation légale)
                </li>
                <li>
                    Communiquer aux prospects/non-membres et aux acteurs/parties prenantes en utilisant des données obtenues par un consentement sans équivoque ou sur la base
                    d'intérêts légitimes (par exemple, via une lettre d'information).
                </li>
            </ul>
        </li>
        <li>
            Le traitement de vos données comprend leur stockage sur des supports physiques et numériques, leur utilisation dans des envois postaux ou électroniques et leur analyse interne
            (mise en forme de listes, analyse interne). Toutefois, <strong>Social Planet</strong> s'engage à ne jamais divulguer ces données à des tiers sans le consentement explicite de la partie concernée,
            sauf si la loi l'exige. Les données ne seront pas conservées plus longtemps que ce qui est justifié (par exemple jusqu'à la fin de l'accord).
            Si <strong>Social Planet</strong> agit lui-même en tant que sous-traitant de données de tiers, un accord de traitement approprié sera conclu à cette fin.
        </li>
        <li>
            Vous bénéficiez des droits suivants : le droit d'être informé de notre démarche, le droit d'accès à vos données personnelles, le droit de rectification, de limitation,
            de suppression et de transfert ainsi que le droit de ne pas être soumis à une analyse individuelle automatisée. Vous pouvez également vous opposer à leur utilisation ou,
            si vous avez donné votre consentement, le retirer.
            Vous pouvez envoyer votre demande à la personne responsable mentionnée ci-dessus, après quoi nous vous répondrons dans un délai d'une semaine. Vous êtes également
            libre de vous plaindre directement à l'autorité de protection des données à tout moment : l'Aurorité de Protection des Données, rue de la Presse 35, 1000 Bruxelles,
            tél. : +32 (0)2 274 48 00, e-mail : contact@apd-gba.be
        </li>
        <li>
            Les modifications de la politique de confidentialité de <strong>Social Planet</strong> sont possibles à tout moment, mais elles seront communiquées aux personnes concernées par le biais
            de communications individuelles ou du site web. La version la plus récente - qui entre en vigueur 30 jours après sa publication sur le site web social-planet.com - peut toujours être
            consultée à l'adresse <strong>http://www.social-planet.com</strong>.
        </li>
    </ol>
    <h2>Droit applicable et tribunaux compétents.</h2>
    <p>
        Le droit belge s'applique à ce site. En cas de litige, seuls les tribunaux de l'arrondissement du <strong>Brabant Wallon</strong> sont compétents.
    </p>
</div>
<div class="mentions container">
    <h1>Charte Vie Privée</h1>
    <h2>1. Pourquoi cette charte vie privée ?</h2>
    <p>Social Planet accorde beaucoup d’importance à la protection de votre vie privée et de vos données personnelles. Nous collectons et traitons vos données personnelles conformément aux dispositions légales applicables en la matière, à savoir la Loi du 8 décembre 1992 relative à la protection de la vie privée à l’égard des traitements de données à caractère personnel (« Loi vie privée ») et le Règlement européen du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données (« Règlement »).
        Nous souhaitons vous informer des éventuelles opérations de traitement de vos données personnelles et de vos droits à cet égard. En utilisant notre site, vous acceptez expressément la collecte et le traitement de vos données personnelles par Social Planet de la manière décrite dans ce document.
        Nous nous réservons le droit d’apporter à tout moment des modifications à notre Charte vie privée. Toute modification substantielle sera toujours communiquée clairement sur notre site. Nous vous conseillons néanmoins de consulter régulièrement ce document.
    </p>
    <h2>2. Qui traite vos données personnelles ?</h2>
    <p>Social Planet est responsable du site Nom du site web</p>
    <h3>Informations de contact :</h3>

    Social Planet

    Adresse :
    <br/>
    N° de TVA:
    <br/>
    E-mail:
    <br/>
    Téléphone:

    <h2>3. Quelles données personnelles sont collectées?</h2>
    <p>Le traitement de vos données personnelles est limité au strict nécessaire pour atteindre les finalités poursuivies par Social Planet. Ci-dessous, sont énumérées les catégories de données concernées par le traitement.</p>
    <ul>
        <li>Données d’identification</li>
        <li>Intérêts</li>
        <li>Données relatives aux études et à la formation</li>
        <li>Données relatives à l’emploi et à la fonction
    </ul>
    </li>
    <h2>4. Quelles sont les finalités poursuivies?</h2>
    <p>Social Planet recueille vos données personnelles dans le seul objectif de vous fournir une expérience d’utilisation optimale, personnalisée et en toute sécurité du site. La collecte de vos données personnelles peut s’intensifier de par une utilisation plus intensive de notre [site/plateforme/application].
        Le traitement de vos données personnelles est donc essentiel au bon fonctionnement du site et à la fourniture de nos services. Social Planet s’engage à traiter vos données personnelles exclusivement aux fins suivantes :</p>
    <ul>
        <li>Vous permettre d’avoir accès à votre « compte utilisateur »</li>
        <li>Assurer le traitement des commandes et la livraison des produits </li>
        <li>Assurer le service après-vente </li>
        <li>Gérer la relation contractuelle </li>
        <li>Permettre la facturation et la gestion des comptes </li>
        <li>Offrir à l’Utilisateur un service général mais aussi personnalisé, incluant l’envoi d’information utile, de newsletters, la fourniture de soutien et le suivi des plaintes.</li>
        <li>Améliorer et personnaliser nos services et nos produits</li>
        <li>Détecter les fraudes, les erreurs et les comportements criminels.</li>
        <li>Envoyer des offres promotionnelles si vous y avez expressément consenti (marketing direct). Dans ce cas, vous restez libre de retirer votre consentement à tout moment</li>
    </ul>
    <p>En visitant notre site, certaines données sont collectées à des fins statistiques. Ces données nous permettent d’optimiser votre expérience d’utilisation. Il s’agit de votre adresse IP, de la zone géographique de consultation, du jour et de l’heure de consultation, et des pages consultées. En visitant notre site, vous acceptez expressément la collecte de ces données à des fins statistiques.
        Vous exercez un contrôle sur les données que vous nous communiquez. Lorsque des données sont incomplètes ou erronées, Social Planet se réserve le droit d’interrompre ou de suspendre, de manière temporaire ou permanente, certaines opérations.
        Vos données personnelles sont destinées à être utilisées exclusivement à des fins internes. Vos données personnelles ne seront donc pas vendues, données ou transmises à des tiers, sauf consentement préalable de votre part. Social Planet a pris toutes les mesures techniques et organisationnelles possibles pour éviter une violation des données.
    </p>
    <h2>5. Nous utilisons aussi des cookies !</h2>
    <p>Lors de votre visite sur notre site des cookies peuvent être placés sur le disque dur de votre ordinateur. Nous utilisons des cookies pour offrir une expérience d’utilisation optimale à nos visiteurs réguliers.
        Pour plus d’informations sur l’utilisation que nous faisons des cookies, nous vous invitons à consulter notre pages sur les cookies. ICI METTRE LE BON LIEN
        Si vous visitez notre site, nous vous conseillons d’activer vos cookies. Toutefois, vous restez libre de les désactiver via les paramètres de votre navigateur si vous souhaitez. Pour plus de détails, nous vous renvoyons vers notre page sur les cookies. ICI METTRE LE BON LIEN</p>
    <h2>6. Quels sont mes droits ?</h2>
    <h3>6.1. Garantie d’un traitement loyal et licite</h3>
    <p>Vos données personnelles sont toujours traitées conformément aux fins légitimes explicitées au point 4. Elles sont collectées et traitées de manière adéquate, pertinente et non-excessive, et ne sont pas conservées plus longtemps que nécessaire pour atteindre les finalités poursuivies.
        Toutes les mesures techniques et sécuritaires ont été prises pour limiter au maximum les risques d’accès ou de traitement illégal ou non-autorisé de vos données personnelles. En cas d’intrusion dans ses systèmes informatiques, Social Planet prendra immédiatement toutes les mesures nécessaires pour réduire les dommages à leur minimum.</p>
    <h3>6.2. Droit d’accès</h3>
    <p>Si vous êtes en mesure de prouver votre identité, vous avez le droit d’obtenir des informations sur le traitement de vos données. Ainsi vous avez le droit de connaître les finalités du traitement, les catégories de données concernées, les catégories de destinataires auxquels les données sont transmises, les critères utilisés pour déterminer la durée de conservation des données, et les droits que vous pouvez exercer sur vos données.</p>
    <h3>6.3. Droit de rectification</h3>
    <p>Les données personnelles inexactes ou incomplètes peuvent être corrigées. Il incombe en premier lieu à l’Utilisateur d’effectuer lui-même les changements nécessaires dans son « compte utilisateur » mais vous pouvez également nous en faire la demande écrite.</p>
    <h3>6.4. Droit à l’effacement (ou « droit à l’oubli »)</h3>
    <p>Vous avez en outre le droit d’obtenir l’effacement de vos données personnelles dans les hypothèses suivantes :</p>
    <ul>

        <li>Vos données personnelles ne sont plus nécessaires au regard des finalités ;</li>
        <li>Vous retirez votre consentement au traitement et il n’existe pas d’autre fondement légal au traitement ;</li>
        <li>Vous avez valablement exercé votre droit d’opposition ;</li>
        <li>Vos données ont fait l’objet d’un traitement illégal ;</li>
        <li>Vos données doivent être supprimées pour respecter une obligation légale.</li>
    </ul>
    <p>Social Planet décide de son propre chef de la présence des critères repris ci-dessus.</p>
    <h3>6.5. Droit à la limitation du traitement</h3>
    <p>Dans certaines hypothèses, vous avez le droit de demander la limitation du traitement de vos données personnelles, notamment en cas de contestation quant à l’exactitude des données, si vos données ont été traitées illégalement, si les données sont nécessaires dans le cadre d’une procédure judiciaire ou le temps nécessaire à Social Planet pour vérifier que vous pouvez valablement exercer votre droit à l’effacement.</p>
    <h3>6.6. Droit d’opposition</h3>
    <p>Vous avez en outre le droit de vous opposer à tout moment au traitement de vos données personnelles. Social Planet cessera le traitement de vos données personnelles, à moins qu’elle ne parvienne à démontrer qu’il existe des motifs légitimes impérieux en faveur du traitement qui prévalent sur votre droit d’opposition.</p>
    <h3>6.7. Droit à la portabilité des données</h3>
    <p>Vous avez le droit d’obtenir toutes les données personnelles que vous nous avez fournies dans un format structuré, couramment utilisé et lisible par machine. A votre demande, ces données peuvent être transférées à un autre prestataire, à moins que cela soit techniquement impossible.</p>
    <h3>6.8. Droit du retrait de votre consentement</h3>
    <p>Vous pouvez retirer à tout moment votre consentement au traitement de vos données personnelles. Le retrait de votre consentement n’entache pas la validité des opérations de traitement antérieures au retrait.</p>
    <h2>7. Comment exercer mes droits ?</h2>
    <p>Pour exercer vos droits, vous devez nous envoyer une demande par courrier recommandé à Social Planet, Adresse ou par mail à email. Nous y répondrons dans les meilleurs délais, et au plus tard un (1) mois après réception de la demande.</p>
    <h2>8. Possibilité d’introduire une plainte</h2>
    <p>Si vous n’êtes pas satisfait du traitement de vos données personnelles par la Social Planet, vous avez le droit d’introduire une plainte auprès de la Commission pour la Protection de la Vie Privée, qui devient l’Autorité de Protection des Données à partir du 25 mai 2018 (https://www.privacycommission.be/).</p>
</div>
