@import  url('./grid.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root {
    --font-size: calc(14px + (21 - 15) * ((100vw - 300px) / (1920 - 300)));
    --container: 80%;
    --font: "Montserrat", sans-serif;
    --orange: #fa9110;
    --orange2: #ffab43;
    --orange3: #fd8b00;
    --blue: #16258d;
    --green: #6aba36;
    --white: #ffffff;
    --black: #333333;
    --shadow: 0px 1px 3px rgba(51, 51, 51, 0.10), 0 3px 6px rgba(0,0,0,0.13);
    --shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --border: 5px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size);
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-weight: 400;
}
main{
  min-height: 90vh;
  padding-bottom: 5%;
}
a{
  text-decoration: none;

 
}
@media screen and(max-width: 1092) {
  div.content-project{
    display: none;
  }
  #header-content-show{
    background: red;
  }

}

.a-sm{
  border: none;
  width: auto;
  margin-top: 1vh;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--orange2);
  cursor : pointer; 
  box-shadow: var(--shadow);
  transition: 0.1s cubic-bezier(.17,.67,.83,.67);
}
.btn-sm-w{
  display: inline-block;
  border: none;
  width: auto;
  margin-top: 1vh;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--orange2);
  background-color: var(--white);
  cursor : pointer; 
  transition: 0.1s cubic-bezier(.17,.67,.83,.67);
}
.btn-sm{
  display: inline-block;
  border: none;
  width: auto;
  margin-top: 1vh;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--orange2);
  cursor : pointer; 
  box-shadow: var(--shadow);
  transition: 0.1s cubic-bezier(.17,.67,.83,.67);
}
.btn-l{
  display: inline-block;
  border: none;
  width: 600px;
  margin-top: 1vh;
  padding: 15px 0px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white) !important;
  background-color: var(--orange2);
  cursor : pointer; 
  box-shadow: var(--shadow);
  transition: 0.1s cubic-bezier(.17,.67,.83,.67);
}
.btn-1,.btn-sm:hover{
  transform: translateY(-5px);
  box-shadow: var(--shadow);
  color: var(--white);
}
.btn-sm-w:hover{
  transform: translateY(-10px);
  box-shadow: var(--shadow);
  color: var(--orange2)
}
.btn-l:hover:hover{
  transform: translateY(-5px);
  box-shadow: var(--shadow);
}

/* ====================== HOME PAGE ======================  */

#header-showcase
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  cursor: pointer;
  width: 325px;
}

.toggle.active
{
  /* background: url(https://i.ibb.co/rt3HybH/close.png); */
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3370e2;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0);
  line-height: 1em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fa9110;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
  color: var(--orange);
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: var(--orange); 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

div.container-fluid img {
  width: 250px;
}

/* ====================== STYLE MODAL ====================== */
/* button {
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
} */

/* .btn {
  font-size: 14px;
  line-height: 1.4;
  padding: 13px 20px;
  border-radius: 4px;
  transition: box-shadow 0.1s, top 0.1s;
  box-shadow: 0 3px 0 rgba(0,0,0,0.3);
  top: 0;
  background: #fff;
}
.btn:hover {
  box-shadow: 0 3px 0 transparent;
  top: 3px;
}
.btn:active {
  background: #f2f2f2;
}

/** Modal */
.modal-open{
  display: block;
}

/* ====================== STYLE SHOW PROJECT ====================== */
#header-content-show{
  width: 100%;
  display: flex;
  justify-content: center;
}
div.content-show{
  background: var(--white);
  margin: 3%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 65%;
}

div.content-title{
  width: 98%;
  height: 9vh;
  padding-top: 20px;
  margin: 1%;
  background: var(--white);
  box-shadow: var(--shadow2);
  border-radius: 4px;
  text-align: center;
}
div.content-project{
  width: auto;
  height: 55vh;
  display: flex;

}
div.project-illust{
  width: 50%;
  margin: 1%;

}
div.project-illust img{
  width: 100%;
  height: 100%;
  border-radius: 4px; 
  box-shadow: var(--shadow);  
}
div.project-details{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  align-items: center;
  width: 50%;
  background: white;
  border-radius: 4px;
  box-shadow: var(--shadow);
}
div.project-objective-amount{
  margin: 3%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ion-objectif{
  font-size: 45px;
  margin-top: 75px;
  transform: rotate(-90deg);
}
.objective-amount{
  display: flex;
  margin-left: 40px;
}
.amount{
  padding-left: 40px;
}
div.objective-count-target{
  text-align: center;
  padding-bottom: 35px;
  margin-right: 38px;
}
.target-pourcant{
  padding-left: 3%;
  padding-right: 2%;
  margin-top: 24px;
  font-size: 15px;
  margin-right: 3%;
  color: 	#F8F8FF;
  max-height: 22px;
  border-radius: 3px;
  background: var(--orange);
}
div.project-objective-other{
  display: flex;
  margin: 3%;
  width: 80%;
  height: auto;
}
div.project-contributor{
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  align-items: center;
  color: black;
  width: 50%;
}
div.project-endAt{
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  align-items: center;
  color: black;
  width: 50%;
}
.ion{
  font-size: 50px;
  margin-bottom: 15px;
  padding-right: 15px;
}


/* ====================== STYLE NAV-BAR ====================== */
nav{
  background: var(--white);
  box-shadow: var(--shadow);
  margin-bottom: 75px;
  position: fixed;
  z-index: 100;
  height: 80px;
  width: 100%;
}
.logo img{
  width: 250px;
  margin-top: 20px;
  margin-left: 60px;
}
nav ul{
  float: right;
  margin-right: 100px; 
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  margin-bottom: 15px;
}
nav ul li a{
  color: var(--orange);
  font-weight: 800;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}
.item-nav.active,.item-nav:hover{
  background: var(--orange2);
  color: var(--white);
  transition: 0.5s;
}

.checkbtn{
  font-size: 30px;
  color: var(--orange3);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display:none;
}

@media (max-width: 952px){
  label.logo{
    margin-left: -30px; 
  }
  nav ul{
    margin-right: 0;
  }
  
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--orange2);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li{
    display: block;
    margin: 50px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a:active{
    background: none;
    color: #ffffff;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/* ====================== STYLE FOOTER ====================== */

footer{
  background: var(--orange2);
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
}
footer .art{
  background: var(--orange);
  padding-left: 65px;
  padding: 16px;
  padding-top: 48px;
  clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}
footer .content{
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
footer header{
  padding-block: 16px;
  font-size: 21px;
}
footer .content a{
  display: block;
  text-decoration: none;
  padding-block: 12px;
  color: var(--white);
  opacity: 0.35;
}

footer .content a:hover{
  opacity: 1;
  background: transparent;
  color: #ffffff;
  font-size: 18px;
}
footer .social-footer{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 10px;
}
footer .social-footer i{
  font-size: 35px;
  text-align: center;
  width: 100%;
}
footer .social-footer i:hover{
  cursor: pointer;
  color: var(--orange2);
}
footer .notice{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
footer .notice strong{
  color: var(--orange2);
  text-transform: uppercase;
}
footer .content img{
  margin-top: 40px;
  width: 100%;
}
.stripe-card{
  width: 400px;
  margin: 2% 0%;
}
#payment-form{
  display: block;
  width: 50%;
  height: 20vh;
}
