{% extends "baseAdmin.html.twig" %}

{% block title %}
Modification d'un project
{% endblock %}

{% block body %}
    <div class="container mt-5 mt-5">
        <h1>Modification du projet {{ project.name }}</h1>

        {{ form_start(formView) }}
        {{ form_widget(formView) }}
        <button type="submit" class="btn-l">modifier</button>
        {{ form_end(formView) }}
    </div>
{% endblock %}