{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card bg-primary text-white text-center pt-3 pb-3">
                    <i class="fas fa-book fa-2x mb-3"></i>
                    <a herf="">Gestion des projets</a>
                </div>
            </div>
        </div>   
    </div>
{% endblock %}
