
{% extends "baseAdmin.html.twig" %}
{% block title %}SP- Admin{% endblock %}


{% block body %}
    <div class="container mt-5">
        <div>
            <section style="padding-top: 5vh;" class="col-6 mx-auto">
                <div class="row text-center btn-l">
                  <i class="fas fa-book fa-2x mb-3"></i> 
                  <a href="{{ path('admin_projects') }}">Gestion des projets</a>                
                </div>
                <div class="row text-center btn-l">
                  <i class="fas fa-user fa-2x mb-3"></i> 
                  <a href="{{ path('admin_users') }}">Gestion  des  users</a>                
                </div>
            </section>
        </div>    
    </div>  
{% endblock %}
