
{% extends "baseAdmin.html.twig" %}
{% block title %}SP- Admin{% endblock %}


{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="row text-center">
                    <i class="fas fa-book fa-2x mb-3"></i>
                    <a class="btn-l text-center" style="margin-left: 450px" herf="{{ path('admin_projects') }}">Gestion des projets</a>
                </div>
            </div>
        </div>    
    </div>  
{% endblock %}
