
{% extends "baseAdmin.html.twig" %}
{% block title %}SP- Admin{% endblock %}


{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div style="cursor: pointer" class="card bg-primary text-white text-center pt-3 pb-3 admin-card">
                    <i class="fas fa-book fa-2x mb-3"></i>
                    <a herf="{{ path('admin_projects') }}">Gestion des projets</a>
                </div>
            </div>
        </div>    
    </div>  
{% endblock %}
