{% extends 'base.html.twig' %}

{% block title %}Hello PayementStripeController!{% endblock %}

{% block body %}
<div class="container">
  <h1>Je contribue !</h1>
  <form id="payment-form">
        <div id="card-element"><!--Stripe.js injects the Card Element--></div>
        <button id="submit" class="btn-l">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Confirmer</span>
        </button>
        <p id="card-error" role="alert"></p>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    const clientSecret = "{{ clientSecret }}";
    const stripePublicKey = "{{ stripePublicKey }}";  
    const redirectAfterSuccessUrl = "{{ url('payement_stripe_succes', {'id': id}) }}"
    </script>
    <script src="/js/payment.js"></script>
{% endblock %}
