{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="mt-5">
    <div class="container col-6">
        <h1>Inscription</h1>
        {{ form_start(formView) }}
        {{ form_widget(formView) }}
        <button type="submit" class="btn-sm">Envoyer</button>
        {{ form_end(formView) }}
    </div>
</div>
{% endblock %}
