<h1>Bonjour Social Planet</h1>

<h1> {{ data.fullName }} vous a envoyé un message </h1>

<h2>Détails du contact:</h2>

<ul>
    <li>Nom complet : {{ data.fullName }}</li>
    <li>Email de contact : {{ data.email }}</li>
</ul>


<p>Le message : {{ data.description }}</p>

