<h1>Bonjour {{ user.fullName }}</h1>

<h1>Votre projet "{{ project.name }}" à bien été reçue. </h1>


<p>Notre administrateur doit encore examiner celui-ci. Nous vous informerons dans les 5 à 10 jours ouvrerable si "{{ project.name }}" est accepté. 
Si vous avez la moindre question, veuillez nous contacter à l'adresse "contact@mail.sp"</p>

<p>Socialement votre, <br>
l'équipe Social Planet</p>

