<a href="#id01">Ouvrir la fenêtre modale</a>

<div id="id01" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="container"> 
        <a href="#" class="closebtn">×</a>
        <h2>{{ title }}</h2>
      </header>
      <div class="container">
        <p>{{</p>  
      </div>
      <footer class="container">
        <p>Pied de page de modale</p>
      </footer>
    </div>
  </div>
</div> 