{% extends "base.html.twig" %}

{% block title %}
    Création d'un projet
{% endblock %}

{% block body %}
    <h1>Nouveau projet</h1>

{{ form_start(formView) }}
{{ form_widget(formView) }}
<button type="submit" class="btn btn-success">connexion</button>
{{ form_end(formView) }}

{% endblock %}
