{% extends "base.html.twig" %}


{% block title %}
    Création d'un projet
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Nouveau projet</h1>

        {{ form_start(formView) }}
        {{ form_widget(formView) }}
        <button type="submit" class="btn-l">enoyer</button>
        {{ form_end(formView) }}
    </div>
{% endblock %}
